/** Menor a 800px**/
@media screen and (max-width: 800px) {
  .jumbotron {
	background-image:url(../img/portada.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: all;
}
}